.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.chatbox {
/* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
 */
background: transparent;
 width: 100%;
}